<div class="logo">
    <div class="logo-normal">
        <p class="simple-text">
            <img src="/assets/img/brand.png">
        </p>
    </div>
</div>
<div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="0a316604-9dbb-0b97-3e91-d2837d461e4a">
    <div class="user">
        <div class="info text-center">
            <h5 class="title text-white">
                {{_est.nombres}}
            </h5>
        </div>
    </div>

    <div class="nav-container">
        <ul class="nav">
            <li *ngIf="_programas.length >0">
                <a data-toggle="collapse" href="#Components" class="collapsed" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    <p>Prematrícula<b class="caret"></b></p>
                </a>
                <div class="collapse" id="Components" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li *ngFor ="let prog of _programas; let i = index"
                            [class.active]='isActive(prog.codigo)' 
                            (click)='onItemClick($event, prog.codigo)'>
                            <a routerLink="wizard/{{prog.id}}">
                                <span class="sidebar-mini">{{prog.codigo}}</span>
                                <span class="sidebar-normal">{{prog.nombre}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="" (click)="onItemClick($event, 'PS')">
                <a href="curriculum">
                    <i class="material-icons">apps</i>
                    <p>Tu plan de estudios</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
</div>
<div class="sidebar-background" style="background-image: url(assets/img/sidebar-3.png)"></div>