<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="wizard-container">
      <div class="card wizard-card" data-color="red" id="wizard">
        <form action="" method="" novalidate="validate">
          <!--You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"-->
          <div class="wizard-header">
            <h3 class="wizard-title">
              Realiza tu prematrícula
            </h3>
            <h5>Por favor, regálanos la siguiente información.</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="active" style="width: 33.3333%;"><a href="#details" data-toggle="tab" aria-expanded="true">1. Inicio</a></li>
              <li class="" style="width: 33.3333%;"><a href="#captain" data-toggle="tab" aria-expanded="false">2. Haz tu prematrícula</a></li>
              <li class="" style="width: 33.3333%;"><a href="#description" data-toggle="tab" aria-expanded="false">3. Confirma tus cambios</a></li>
            </ul>
            <div class="moving-tab" style="width: 250px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s;">1. Inicio</div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="details">
              <h4 class="info-text">Datos de la prematrícula</h4>
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="title"></h3>
                </div>
                <div class="col-sm-offset-3">
                  <dl class="dl-horizontal">
                    <dt>Nombre Estudiante: </dt>
                    <dd>Juan Montaño</dd>
                    <dt>Programa: </dt>
                    <dd>Ingeniería de Sistemas</dd>
                    <dt>Semestre: </dt>
                    <dd>10</dd>
                  </dl>
                </div>
                <div class="col-sm-10 col-sm-offset-1">

                  <div class="col-sm-4 col-sm-offset-4">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="">
                      <input type="radio" name="job" value="Design" checked="checked">
                      <div class="icon">
                        <i class="material-icons">check</i>
                      </div>
                      <h6>Confirmar Cambios</h6>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane" id="captain">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="info-text"> Por favor selecciona tus materias</h4>
                </div>
                <div class="col-sm-8" *ngIf="_materias">
                    <h5 class="title text-center">
                        Tus materias
                    </h5>
                  <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default" *ngFor="let grp of _materias">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <a aria-controls="collapseOne" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseOne"
                          role="button" class="collapsed">
                          <h4 class="panel-title">
                            {{grp.numSemestre}} Semeste
                            <i class="material-icons">keyboard_arrow_down</i>
                          </h4>
                        </a>
                      </div>
                      <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel" aria-expanded="false"
                        style="height: 0px;">
                        <div class="panel-body">
                          <div *ngFor="let mat of grp.materias">
                              <app-matricula-materia [materia]="mat">
                                </app-matricula-materia>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-sm-4">
                  <h5 class="title text-center">
                    Tu prematrícula
                  </h5>

                </div>

              </div>
            </div>
            <div class="tab-pane" id="description">
              <div class="row">
                <h4 class="info-text"> Drop us a small description.</h4>
                <div class="col-sm-6 col-sm-offset-1">
                  <div class="form-group is-empty">
                    <label>Room description</label>
                    <textarea class="form-control" placeholder="" rows="6"></textarea>
                    <span class="material-input"></span></div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Example</label>
                    <p class="description">"The room really nice name is recognized as being a really awesome room. We use it every sunday when
                      we go fishing and we catch a lot. It has some kind of magic shield around it."</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wizard-footer">
            <div class="pull-right">
              <input type="button" class="btn btn-next btn-fill btn-danger btn-wd" name="next" value="Siguiente" style="">
              <input type="button" class="btn btn-finish btn-fill btn-danger btn-wd" name="finish" value="Terminar" style="display: none;">
            </div>
            <div class="pull-left">
              <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Atrás">
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>