<div class="wrapper">
  <div id="sidebar-container" class="sidebar" data-active-color="white" data-background-color="red" data-image="../assets/img/sidebar-3.png">
    <app-sidebar>
    </app-sidebar>
  </div>
  <div id="dashboard-container" class="main-panel ps-container ps-theme-defaul ps-active-y">
      <nav class="navbar navbar-transparent">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="col-xs-12 text-center">
                    <div class="navbar-brand">
                        Sistema de Prematricula - Universidad del Cauca
                    </div>
                  </div>
              </div>
              <div class="collapse navbar-collapse">
                  <div>
                  </div>
              </div>
          </div>
      </nav>
    <div  class="main-content">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>